body {
  background: -webkit-linear-gradient(green, lightblue);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#todo {
  margin: 10% auto;
  padding: 2%;
  border: 1px solid white;
  border-radius: 2px;
  width: 20%;
  height: 55vh;
  background-color: white;
}
input {
  width: 240px;
  height: 25px;
  font-size: medium;
  border-color: lightgrey;
  padding: 2%;
}
.button {
  height: 40px;
  width: 40px;
  background: blueviolet;
  font-weight: 800;
  font-size: large;
  color: white;
  vertical-align: middle;
}
ul {
  list-style-type: none;
  font-size: medium;
  padding-left: 0%;
  margin: 5% auto 10%;
}
li {
  display: inline-block;
  border: 1px solid white;
  border-color: lightgrey;
  width: 240px;
  height: 25px;
  background-color: lightgrey;
  font-size: medium;
  padding: 2%;
  margin-bottom: 10px;
}
.delete {
  height: 35px;
}
.clear {
  height: 30px;
  width: 80px;
  background: blueviolet;
  font-weight: 800;
  color: white;
  margin-left: 45px;
}
